:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
    --netural-100: #ffffff;
    --netural-800: #323232;
    --netural-900: #000000;

    /* Pad Accent Colors */
    --accent1: #0079B6;
    --accent2: #59A6CC;
    --accent3: #F2E96B;
    --accent4: #D96B62;
    --accent5: #F0BCCC;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    align-content: center;
    background-color: var(--netural-800);
    display: grid;
    gap: 10px;
    justify-items: center;
    height: 100vh;
    margin: 0px;
    position: relative;
}

.pad-nav {
    align-items: center;
    border: 1px solid var(--netural-100);
    border-radius: 5px;
    color: #fff;
    display: flex;
    height: 50px;
    padding: 5px 10px;
    width: calc(100vw - 20px);
}

.pad-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pad-form span {
    align-content: center;
}

.pad-color {
    aspect-ratio: 1;
    background-color: var(--netural-100);
    width: 25px;
}

.color1 {
    background-color: var(--accent1);
}

.color2 {
    background-color: var(--accent2);
}

.color3 {
    background-color: var(--accent3);
}

.color4 {
    background-color: var(--accent4);
}

.color5 {
    background-color: var(--accent5);
}

.pad-wrapper {
    height: calc(100vh - 90px);
    width: calc(100vw - 20px);
    overflow: hidden;
    position: relative;
}

.pad-header {
    align-items: center;
    background-color: rgba(156, 156, 156, 0.7);
    color: var(--netural-100);
    display: flex;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    position: relative;
}

.pad-header:hover {
    cursor: move;
}

.pad {
    background-color: var(--accent2);
    box-shadow: 0px 0px 10px 1px var(--netural-900);
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    position: absolute;
    width: 260px;
}

.pad-content {
    padding: 10px;
}

.pad-content p {
    margin: 0px;
    user-select: text;
}