:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    align-content: center;
    background-color: #323232;
    display: grid;
    gap: 10px;
    justify-items: center;
    height: 100vh;
    margin: 0px;
    position: relative;
}

.pad-nav {
    align-items: center;
    border: 1px solid #fff;
    border-radius: 5px;
    color: #fff;
    display: flex;
    height: 50px;
    padding: 5px 10px;
    width: calc(100vw - 20px);
}

.pad-form {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pad-color {
    aspect-ratio: 1;
    background-color: white;
    width: 20px;
}

.pad-wrapper {
    height: calc(100vh - 90px);
    width: calc(100vw - 20px);
    overflow: hidden;
    position: relative;
}

.pad-header {
    align-items: center;
    background-color: #b3881a;
    color: #fff;
    display: flex;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    position: relative;
}

.pad-header:hover {
    cursor: grab;
}

.pad {
    aspect-ratio: 1;
    background-color: #ffd700;
    box-shadow: 0px 0px 0px 3px #000;
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    width: 300px;
}

.pad-content {
    padding: 10px;
}

.pad-content p {
    margin: 0px;
    user-select: text;
}
